<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}'s data</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>{{ title }}'s data</h1>
    <p>{{ type1 }}{{ type2}}</p>
    
    <form action="/pokemon">
        <input type="text" name="pokemon" id="pokemon" placeholder="Enter a pokemon" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>
