@font-face {
    font-family: 'PokemonClassic';
    src: url('Pokemon Classic.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PokemonClassic';
}

body {
    background-color: #3333;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
}

h1 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* sticky header */
.header_main {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #555;
  color: #f1f1f1;
}

 /* Style the tab */
.tabs {
  overflow: hidden;
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tablink {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33.33%;
  font-size: 170%;
}

/* Change pointer when button is disabled */
.tablink:disabled {
  cursor: no-drop;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tablink.active {
  background-color: #2222;
}

#tablink_menu {
    margin-left: 0px;
}

/* Style the tab content */
.tab {
  display: none;
  padding: 6px 12px;
}

/* pop-ups */
.pop-up {
    background: rgba(1,1,1,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 1rem;
    z-index: 2;
}

#pop-up_encounter {
    background-color: rgba(1,1,1,0.7);
    width: 690px;
    height: 310px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2rem;
}

#pop-up_new_run {
    background-color: rgba(1,1,1,0.7);
    width: 320px;
    height: 320px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 35px;
}

/* position of pop-up new run elements */
.pop-up_new_run_elements {
    display: block;
    width: 250px;
    margin-top: 10px;
}

button.pop-up_new_run_elements {
    width: 120px;
    display: inline;
}

#new_run_button_cancel {
    margin-left: 1px;
    margin-right: 5px;
}

/* position of pop-up encounter elements */
#encounter_location {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    width: 220px;
    position: absolute;
    top: 70px;
    left: 230px;
}

#encounter_name {
    position: absolute;
    top: 120px;
    left: 230px;
    width: 220px;
}

.encounter_pokemon {
    position: absolute;
    width: 200px;
    align-content: center;
    top: 40px;
}

#encounter_pokemon_div_1 {
    left: 50px;
    top: 50px;
}

#encounter_pokemon_div_2 {
    left: 440px;
    top: 50px;
}

.encounter_pokemon_img {
    display: block;
    background-color: #F3F3F3;
    width: 55%;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 41px;
}

.encounter_type_1 {
    display: inline;   
    margin-left: 43px;
    margin-right: 4px;
}

.encounter_type_2 {
    display:inline;
}

.encounter_pokemon_input {
    width: 200px;
    margin-top: 10px;
}

.encounter_button {
    position: absolute;
    top: 250px;
    width: 80px;
}

#encounter_button_save {
    left: 260px;    
}

#encounter_button_cancel {
    left: 350px;
}


/* Menu tab styles */
#tab_menu {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}

.bt_menu {
    background-color: inherit;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 10px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
    width: 180px;
    text-align: left;
    transition:all .2s ease-in-out;
    cursor: pointer;
}

.bt_menu:disabled{
    display: none;
}

.bt_menu:hover {
    background-color: #f3f3f3;
}

.bt_menu:before{
  content:url("../images/arrow.png");
  position:relative;
  left:-20px;
  top: -1px;
  opacity:0;
  transition:all .2s ease-in-out;
  
}

.bt_menu:hover:before{
    left:-10px;
    opacity:1;
}

/* encounter tab styles */
#tab_encounters {
    align-self: center;
}
.encounter_ {
    display: flex;
    font-size: 0.8rem;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #5555;
    border-radius: 10px;
    border-width: 1px;
    border-radius: 10px;
    width: 500px;
    height: 80px;
    max-width: 100%;
    
    transition:all .2s ease-in-out;
    cursor: pointer;
}

.encounter_:hover {
    background-color: #f1f1f1;
}
/*
.encounter_:before{
  content:url("../images/arrow.png");
  position:relative;
  left: 0px;
  top: -20px;
  opacity:0;
  transition:all .2s ease-in-out;  
}

.encounter_:hover:before{
    left:10px;
    opacity:1;
}
*/

.encounter_infos {
    display: block;
    width: 500px;
    height: 35px;
    margin-left: 10px;
    padding: 5px;
    padding-left: 10px;
}

.encounter_location {
    display: inline;
}

.encounter_name {
    display: block;
    padding-left: 10px;
}


.encounter_pokemon_div {
    display: flex;
    height: 100%;
    width: 150px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

img.encounter_pokemon_div_img {
    height: 100%;
}

.encounter_pokemon_div_types {
    display: none;

    width: 100%;
    height: 100%;
}

img.encounter_pokemon_div_type {
    display: block;
    margin-top: 25%;
    width: 100%;
    height: 25%;
}

.encounter_div_buttons {
    display: block;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    background-color: #f1f1f1;
    padding: 3px;
    border-radius: 5px;
}

.encounter_buttons {
    height: 25px;
    width: 100%;
    min-width: 80px;
    margin-bottom: 3px;    
}

#new_encounter_button {
    position: relative;
    align-self: center;
    margin-left: 30%;
    width: 40%;
}

/* teams tab */
.teams_div {
}

.team_ {
    display: block;
    padding-left: 100px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 492px;
}

.team_:hover {
    background-color: #f1f1f1;
}

.team_player_1 {
    display: block;
    margin: 10px;
}

.team_player_2 {
    display: block;
    margin: 10px;
}

.team_player_infos {
    display: block;
    position: relative;
    top: 40px;
    left: -90px;
    width: 100px;
    font-size: 9px;
    padding-bottom: 5px;
}

.team_pokemon_div {
    display: inline;
}

.team_pokemon_div_img {
    width: 60px;
}
